<div
    class="w-full relative flex flex-col gap-main lg:gap-section overflow-hidden"
    >
    <div
        class="flex flex-col gap-sm"
        >
        <span
            class="flex items-center gap-xs"
            >
            <p
                class=" text-base-sm md:text-base-md lg:text-base-lg font-semibold!"
                >
                Statistique
            </p>
            <!-- <span
                class="w-2 h-2 rounded-full bg-clr-success animate-pulse duration-500"
            ></span> -->
        </span>
        <p
            class=" text-base md:text-base-sm lg:text-base-sm secondary"
            >
            Obtenez un statistique complet de total vendu aux produitx le plus et moins vendu
        </p>
    </div>

    <div>

    </div>

</div>
