<section
    #ctaBgHoverEffect 
    id="ctaBgHoverContainer"
    class="ctaBgHoverContainer w-full min-h-screen relative flex flex-col items-center justify-center p-main gap-main py-section-y overflow-x-hidden selection:bg-clr-bg-page! dark:bg-clr-bg-page! selection:text-clr-primary!"
    >
    <div
        class="absolute top-0 left-0 bg-clr-primary flex flex-col items-center justify-center gap-main z-1 w-full h-full"
        >
        <img 
            src="https://framerusercontent.com/images/10Gn2eLO0jG5LzUukp4c2AXeg.png?fit=cover&format=webp&quality=75" 
            alt=""
            class="w-full h-1/2 object-cover object-center"
        >
        <img 
            src="https://framerusercontent.com/images/10Gn2eLO0jG5LzUukp4c2AXeg.png?fit=cover&format=webp&quality=75" 
            alt=""
            class="w-full h-1/2 object-cover object-center"
        >
    </div>

    <section
        appEntryAnim
        [delay]="200"
        [translateY]="0"
        class="min-h-[70vh] flex flex-col gap-main z-5 justify-center items-center text-center opacity-0"
        >
        <h3 
            class="text-caption text-base text-base-caption"
            >
            Commencez dès aujourd'hui
        </h3>
        <h2
            class="title-1 text-clr-text-dark!"
            >
            Simplifiez la gestion de votre stock avec notre application de gestion d'inventaire
        </h2>
        <p
            class="text-base-large text-clr-text-secondary-dark!"
            >
            Gérez votre stock de manière efficace et sans effort grâce à notre application de gestion d'inventaire conviviale et puissante.
        </p>
        <a
            [routerLink]="['/dashboard']"
            class="getButton button primary border-clr-hover! bg-clr-hover! hover:bg-clr-primary! hover:scale-110! active:bg-clr-active! active:border-clr-active! text-title-2! text-clr-text-dark! p-main! cubicTransition"
            >
            Commencer maintenant
        </a>
    </section>

    <app-contacts
        class="z-5 w-full relative"
    ></app-contacts>

    <div
        class="w-full h-full absolute grid grid-cols-14 gap-sm top-0 left-0  z-4 items-center justify-center overflow-hidden"
        >
        @for(item of ctaCardHover; track $index){
            <div
                class="ctaCardHover h-20 rounded-xs border border-clr-primary transition duration-100 ease-in relative"
            ></div>
        }
    </div>
</section>
