<div
    class="flex flex-col items-start gap-2">
    <div
        class="flex items-center justify-start gap-sm">
        <button
            (click)="themeAppService.setLightTheme(); choiceTheme = false"
            [class.themeActive]="themeAppService.themeDisplay() === appTheme.Light"
            [class.text-background]="themeAppService.themeDisplay() === appTheme.Light"
            class="card-icon icon-theme items-center p-1.5 active:scale-90 transition-all duration-200 dark:text-clr-text-dark"

            >
            <lucide-icon 
                [img]="icons.sun" 
                class="my-icon text-lg max-lg:text-2xl"
            ></lucide-icon>
        </button>
        <span 
            [class.textThemeActive]="themeAppService.themeDisplay() === appTheme.Light"
            (click)="themeAppService.setLightTheme(); choiceTheme = false"
            class="flex text-mono text-clr-text dark:text-clr-text-dark cursor-pointer"
            >
            Light
        </span>
    </div>
    
    <div
        class="flex items-center justify-start gap-sm">
        <button
            (click)="themeAppService.setDarkTheme(); choiceTheme = false"
            [class.themeActive]="themeAppService.themeDisplay() === appTheme.Dark"
            [class.text-background]="themeAppService.themeDisplay() === appTheme.Dark"
            class="card-icon icon-theme items-center p-1.5 active:scale-90 transition-all duration-200 dark:text-clr-text-dark"
            >
            <lucide-icon 
                [img]="icons.moon" 
                class="my-icon"
                ></lucide-icon>
        </button>
        <span
            [class.textThemeActive]="themeAppService.themeDisplay() === appTheme.Dark"
            (click)="themeAppService.setDarkTheme(); choiceTheme = false"
            class="flex text-mono text-clr-text dark:text-clr-text-dark cursor-pointer"
            >
            Dark
        </span>
    </div>
    
    <div
        class="flex items-center justify-start gap-sm">
        <button
            (click)="themeAppService.setSystemTheme(); choiceTheme = false"
            [class.themeActive]="themeAppService.themeDisplay() === appTheme.System"
            [class.text-background]="themeAppService.themeDisplay() === appTheme.System"
            class="card-icon icon-theme items-center p-1.5 active:scale-90 transition-all duration-200 dark:text-clr-text-dark"
            >
            <lucide-icon 
                [img]="icons.system" 
                class="my-icon"
            ></lucide-icon>
        </button>
        <span
            (click)="themeAppService.setSystemTheme(); choiceTheme = false"
            [class.textThemeActive]="themeAppService.themeDisplay() === appTheme.System"
            class="flex text-mono text-clr-text dark:text-clr-text-dark cursor-pointer"
            >
            System
        </span>
    </div>
</div>
