<section
    class="w-screen min-h-screen flex flex-col lg:flex-row items-center justify-between relative p-main  pt-28 md:pt-32 lg:pt-main bg-clr-bg-hero"
    >
    <div
        class="w-full lg:w-1/2 h-full flex flex-col gap-main md:gap-12 lg:gap-main relative"    
        >
        <span
            class="flex items-center gap- text-base-small"
            >
            <p class="text-caption">Gestion</p>,
            <p class="text-caption ml-xs">Vente</p>,
            <p class="text-caption ml-xs">Stock</p>,
            <p class="text-caption mx-xs">Finance</p> &
            <p class="text-caption ml-xs">Comptabilité</p>
        </span>
        <h2
            class="title-1 text-clr-text-dark! dark:text-clr-text-dark!"
            >
            Tout ce qu'il vous faut pour prendre en main votre entreprise.
        </h2>

        <p
            class="text-base secondary"
            >
            Yann ndani est un logiciel qui vous permet de gestionner, comptabiliser et à surveiller la finance et trésorérie de votre entreprise. En réduisant les riques de vole. Facile à prendre en main 
        </p>

        <div
            class="flex flex-col md:flex-row gap-main mt-main"
            >
            <button
                class="button primary"
                >
                Commencer
            </button>

            <button
                class="button secondary"
                >
                nous contacter
            </button>
        </div>
    </div>

    <div
        class="w-full lg:w-1/2 flex flex-col items-center justify-center py-main lg:pl-main relative"
        >
        <div
            class="w-full h-80 md:h-120 lg:h-96 xl:h-100 overflow-hidden relative"
            >
            <img 
                src="" 
                alt=""
                class="skeletonBg w-full h-full border-line-full rounded-xs sm:rounded-sm md:rounded-md lg:rounded-lg xl:rounded-xl absolute top-0 left-0"
            >
            <img 
                src="" 
                alt=""
                class="skeletonBg w-1/2 h-full border-line-full rounded-xs sm:rounded-sm md:rounded-md lg:rounded-lg xl:rounded-xl absolute top-1/3 right-main"
            >
        </div>
    </div>
</section>
<app-statistic-counter></app-statistic-counter>