<div
    class="w-full relative flex flex-col gap-main lg:gap-section overflow-hidden"
    >
    <div
        class="flex flex-col gap-sm"
        >
        <span
            class="flex items-center gap-xs"
            >
            <p
                class=" text-base-sm md:text-base-md lg:text-base-lg font-semibold!"
                >
                Gestion des permissions et traçabilité
            </p>
        </span>
        <p
            class=" text-base md:text-base-sm lg:text-base-sm secondary"
            >
            Répartissez les tâches et différentes permissions, et ayez une traçabilité complète sur toutes les opérations de votre entreprise.
        </p>
    </div>

    <div
        class="w-full h-64 relative card hover:border-clr-border! dark:hover:border-clr-border-dark!"
        >
        <div
            class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 card w-7/10 flex flex-col items-center justify-center gap-sm text-center hover:border-clr-warning!"
            >
            <i class="pi pi-info-circle text-3xl! text-clr-warning!"></i>
            <p
                class=""
                >
                Action non autorisée
            </p>
            <p
                class="text-base-small secondary mt-sm"
                >
                Cet identifiant n'a pas la permision d'effectuer cette action. Connectez-vous à un identifiant autorisé.
            </p>
        </div>
    </div>

</div>
