<section
    class="w-full min-h-screen relative flex flex-col"
    >
    <app-header></app-header>
    <app-hero-section></app-hero-section>
    <app-grid-features></app-grid-features>
    <app-about></app-about>
    <app-installation></app-installation>
    <app-feature></app-feature>
    <app-network-feature></app-network-feature>
    <app-cta></app-cta>
    <app-testimonial></app-testimonial>
    <app-partner></app-partner>
    <app-footer></app-footer>


    <!-- <div class="h-screen w-full"></div> -->
    <!-- <div class="h-screen w-full"></div> -->
</section>