<section 
    class="w-full flex flex-col lg:flex-row items-start justify-center lg:justify-between gap-main gap-y-section-y px-main realtive"
    >
    <div
        class="w-full lg:w-1/2 flex flex-col gap-main text-start"
        >
        <h2
            class="title-4 text-clr-primary! dark:text-clr-active!"
            >
            Gestion à distance
        </h2>
        <p 
            class="text-3 text-balance"
            >
            Code barre Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem fugiat consectetur deleniti vero, est quas, alias suscipit explicabo dolor voluptates aspernatur distinctio aliquid dolorum enim rerum quod nostrum totam. Repellat non veniam harum voluptate cum accusamus at dolore quos impedit.
        </p>
        <p class="text-3 text-justify lg:text-start">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem dolores consequatur asperiores iure delectus!
        </p>
        <p class="text-clr-primary dark:text-clr-active text-justify lg:text-start mb-4">Lorem ipsum dolor sit amet.</p>
        <div class="hidden lg:flex items-center gap-main">
            <span>Ragarder la procédure </span>
            <!-- (click)="toScrollTop(); togglePopVideo()" -->
            <button
                class="button secondary"
                >
                <lucide-icon
                    [img]="icons.play"
                ></lucide-icon>
            </button>
        </div>
    </div>
</section>