/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";


/* ========================================== */
/* Themes & variables */
/* ========================================== */

:root {
    --color-primary: #006989;
    --color-primary-c: #d8dee8;
    --color-secondary: #EAEBED;
    --color-accent: #7C3AED;
    --color-hover: #00ACC1;

    --input-height: 24px;
    --input-height-sm: 40px;
    --input-height-md: 40px;
    --input-height-lg: 36px;

    --button-height: 20px;
    --button-height-sm: 28px;
    --button-height-md: 32px;
    --button-height-lg: 36px;

    --transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

@custom-variant dark (&:where(.dark, .dark *));
@theme {

    /* Size, Width, Spacing ==================================== */
    /* ======================================== */
    
    /* text ======================= */
    --font-sans: "Inter", ui-sans-serif, system-ui;
    --text-title-1: 32px; 
    --text-title-1-sm: 40px; 
    --text-title-1-md: 40px; 
    --text-title-1-lg: 48px;
    
    --text-title-2: 24px;
    --text-title-2-sm: 32px;
    --text-title-2-md: 32px; 
    --text-title-2-lg: 40px;

    --text-title-3: 20px;
    --text-title-3-sm: 24px;
    --text-title-3-md: 24px;
    --text-title-3-lg: 32px;

    --text-title-4: 16px;
    --text-title-4-sm: 20px;
    --text-title-4-md: 20px;
    --text-title-4-lg: 28px;
    
    --text-base-xl: 16px;
    --text-base-xl-sm: 20px;
    --text-base-xl-md: 20px;
    --text-base-xl-lg: 28px;
    
    --text-base-large: 12px;
    --text-base-large-sm: 16px;
    --text-base-large-md: 16px;
    --text-base-large-lg: 20px;

    --text-base: 8px;
    --text-base-sm: 14px;
    --text-base-md: 16px;
    --text-base-lg: 16px;

    --text-caption: 6px;
    --text-caption-sm: 10px;
    --text-caption-md: 10px;
    --text-caption-lg: 12px;
    

    /* border ================ */
    --border-width: 1px;
    --border-width-3: 3px;
    --border-button: 1.5px;
    --border-input: 1.5px;
    
    /* radius ================= */
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --radius-full: 999px;

    --radius-button: 8px;

    /* padding =============== */
    --spacing-main: clamp(0.75rem, 2.5vw, 1.5rem);
    --spacing-section-y: clamp(3rem, 10vw, 6rem);
    --spacing-section-y-xl: clamp(3.75rem, 12.5vw, 7.5rem);
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 16px;
    --spacing-xl: 24px;
    --spacing-input: 16px;
    --spacing-section: clamp(0.75rem, 2.5vw, 1.5rem);
    --spacing-button: 12px;

    /* width ================ */




    /* Colors, Background ==================================== */
    /* ======================================== */

    /* principals colors ================ */
    --color-clr-primary: var(--color-primary);
    --color-clr-secondary: var(--color-secondary);
    --color-clr-accent: var(--color-accent);
    --color-clr-hover: var(--color-hover);

    /* background colors ============== */
    --color-clr-bg-page: #F8FEFF;
    --color-clr-bg-page-dark: #0B1215;
    --color-clr-bg-hero: #001d26;
    /* --color-clr-bg-section: #F8F9FA; f8feff  F8FAFB*/
    --color-clr-bg-section: #bdcfd21b;
    --color-clr-bg-section-dark: #11181c;
    --color-clr-bg-card: #FFFFFF;
    --color-clr-bg-card-dark: color-mix(in oklab, #161F23 80%, transparent);
    --color-clr-bg-disable: #BCC6CC;
    --color-clr-bg-disable-dark: #3A4449;

    /* border  colors ================= */
    --color-clr-border: #E2E5E9;
    --color-clr-border-dark: #263238;
    --color-clr-border-focus: #0083ab;
    --color-clr-border-active: #67C4E0;


    --color-clr-border-input: #a0a2a5;
    --color-clr-border-input-dark: var(--color-clr-border);
    --color-clr-border-input-disable: var(--color-clr-border);
    --color-clr-border-input-valid: var(--color-clr-success);
    --color-clr-border-input-error: var(--color-clr-error);

    /* text colors =================== */
    --color-clr-text: #101828;
    /* --color-clr-text-dark: #F8FAFC; */
    --color-clr-text-dark: #d8dee8;
    --color-clr-text-secondary: #667085;
    /* --color-clr-text-secondary-dark: #CBD5E1; */
    --color-clr-text-secondary-dark: color-mix(in oklab, #CBD5E1 70%, transparent);
    --color-clr-text-disable: #98A2B3;
    --color-clr-text-disable-dark: #94A3B8;
    --color-clr-link: #006989;
    --color-clr-link-dark: #67C4E0;
    --color-clr-link-hover: var(--color-hover);

    /* Stat colors ================== */
    --color-clr-active: #67C4E0;
    --color-clr--hover: var(--color-hover);
    --color-clr-success: #22C55E;
    --color-clr-warning: #F59E0B;
    --color-clr-error: #EF4444;
    --color-clr-info: #028FC7;
    --color-clr-accent: var(--color-accent);

    /* button colors ================ */
    --color-clr-button: var(--color-primary);
    --color-clr-button-text: var(--color-clr-text-dark);
    --color-clr-button-hover: var(--color-hover);
    --color-clr-button-active: var(--color-clr-border-active);

    --color-clr-button-secondary: transparent;
    --color-clr-button-disable: color-mix(in oklab, var(--color-clr-bg-disable) 60%, transparent);
    --color-clr-button-disable-dark: var(--color-clr-bg-disable-dark);

    --color-clr-button-ghost: color-mix(in oklab, var(--color-clr-button-disable) 60%, transparent);
    --color-clr-button-ghost-dark: color-mix(in oklab, var(--color-clr-button-disable) 10%, transparent);
    --color-clr-button-ghost-disable: color-mix(in oklab, var(--color-clr-button-disable) 15%, transparent);
    --color-clr-button-tertial: transparent;

    /* input colors =================== */
    --color-clr-input-disable: var(--color-clr-button-disable);

    /* color active transparent 15% */
    --color-clr-active-transparent: color-mix(in oklab, var(--color-clr-active) 15%, transparent);
}




/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body{
    font-family: var(--font-sans);
    font-weight: var(--font-weight-normal);
    background: var(--color-clr-bg-page);
    color: var(--color-clr-text);
    
    &:where(.dark, .dark *){
        background: var(--color-clr-bg-page-dark);
        color: var(--color-clr-text-dark);
    }
}

aside {
    color: #bdcfd20a
    /* color: var(--color-gray-500) */
}

/* flexbox ========================== */
/* =============================== */
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-center.column{
    flex-direction: column;
}
.flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-between.column{
    flex-direction: column;
}

/* texts ============================ */
/* ================================ */
.title-1{
    font-size: var(--text-title-1);
    color: var(--color-clr-text);
    font-weight: var(--font-weight-semibold);
    line-height: normal;

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark);
    }

    @media (width >= 20rem /* xs - */) {
        font-size: var(--text-title-1-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        font-size: var(--text-title-1-md);
    }
    @media (width >= 64rem /* 1024px lg +*/) {
        font-size: var(--text-title-1-lg);
    }
}
.title-1.secondary{
    color: var(--color-clr-text-secondary);
    &:where(.dark, .dark *){
        color: var(--color-clr-text-secondary-dark);
    }
}

.title-2 {
    font-size: var(--text-title-2);
    color: var(--color-clr-text);
    font-weight: var(--font-weight-semibold);
    line-height: normal;

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark);
    }
    
    @media (width >= 20rem /* xs - */) {
        font-size: var(--text-title-2-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        font-size: var(--text-title-2-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        font-size: var(--text-title-2-lg);
    }
}
.title-2.secondary{
    color: var(--color-clr-text-secondary);
    &:where(.dark, .dark *){
        color: var(--color-clr-text-secondary-dark);
    }
}

.title-3 {
    font-size: var(--text-title-3);
    color: var(--color-clr-text);
    font-weight: var(--font-weight-semibold);
    line-height: normal;

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark);
    }
    
    @media (width >= 20rem /* xs - */) {
        font-size: var(--text-title-3-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        font-size: var(--text-title-3-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        font-size: var(--text-title-3-lg);
    }
}
.title-3.secondary{
    color: var(--color-clr-text-secondary);
    &:where(.dark, .dark *){
        color: var(--color-clr-text-secondary-dark);
    }
}

.title-4 {
    font-size: var(--text-title-4);
    color: var(--color-clr-text);
    font-weight: var(--font-weight-semibold);
    line-height: normal;

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark);
    }
    
    @media (width >= 20rem /* xs - */) {
        font-size: var(--text-title-4-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        font-size: var(--text-title-4-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        font-size: var(--text-title-4-lg);
    }
}
.title-4.secondary{
    color: var(--color-clr-text-secondary);
    &:where(.dark, .dark *){
        color: var(--color-clr-text-secondary-dark);
    }
}

.text-base {
    font-size: var(--text-base);
    color: var(--color-clr-text);
    font-weight: var(--font-weight-light);
    line-height: normal;

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark);
    }
    
    @media (width >= 20rem /* sm */) {
        font-size: var(--text-base-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        font-size: var(--text-base-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        font-size: var(--text-base-lg);
    }
}
.text-base.secondary{
    color: var(--color-clr-text-secondary);
    &:where(.dark, .dark *){
        color: var(--color-clr-text-secondary-dark);
    }
}

.text-base-xl {
    font-size: var(--text-base-xl);
    color: var(--color-clr-text);
    font-weight: var(--font-weight-normal);
    line-height: normal;

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark);
    }
    
    @media (width >= 20rem /* sm - */) {
        font-size: var(--text-base-xl-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        font-size: var(--text-base-xl-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        font-size: var(--text-base-xl-lg);
    }
}
.text-base-xl.secondary{
    color: var(--color-clr-text-secondary);
    &:where(.dark, .dark *){
        color: var(--color-clr-text-secondary-dark);
    }
}

.text-base-large {
    font-size: var(--text-base-large);
    color: var(--color-clr-text);
    font-weight: var(--font-weight-normal);
    line-height: normal;

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark);
    }
    
    @media (width >= 20rem /* sm - */) {
        font-size: var(--text-base-large-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        font-size: var(--text-base-large-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        font-size: var(--text-base-large-lg);
    }
}
.text-base.secondary{
    color: var(--color-clr-text-secondary);
    &:where(.dark, .dark *){
        color: var(--color-clr-text-secondary-dark);
    }
}

.text-caption{
    font-size: var(--text-caption);
    color: var(--color-clr-active);
    font-weight: var(--font-weight-semibold);
    line-height: normal;
    
    @media (width >= 20rem /* sm - */) {
        font-size: var(--text-caption-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        font-size: var(--text-caption-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        font-size: var(--text-caption-lg);
    }
}

.text-base-small{
    font-size: var(--text-caption);
    color: var(--color-clr-text);
    font-weight: normal;
    line-height: normal;

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark)
    }
    
    @media (width >= 20rem /* sm - */) {
        font-size: var(--text-caption-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        font-size: var(--text-caption-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        font-size: var(--text-caption-lg);
    }
}
.text-base-small.secondary{
    color: var(--color-clr-text-secondary);

    &:where(.dark, .dark *){
        color: var(--color-clr-text-secondary-dark);
    }
}


/* button classes =============================== */
/* ========================================= */
.button{
    /* font-size: var(--text-base-lg); */
    height: var(--button-height);
    border-width: var(--border-button);
    border-radius: var(--radius-button);
    padding-inline: var(--spacing-button);
    padding-block: var(--spacing-sm);
    cursor: pointer;
    transition: var(--transition);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    @media (width >= 20rem /* sm - */) {
        height: var(--button-heigh-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        height: var(--button-height-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        height: var(--button-height-lg);
    }
}
.button.primary {
    border-color: var(--color-clr-button);
    color: var(--color-clr-button-text);
    background: var(--color-clr-button);
    transition: color .1s ease;

    /* &:where(.dark, .dark *){
        color: var(--color-clr-text);
        color: var(--color-clr-text-dark);
    } */
    
    &:hover{
        background: var(--color-clr-button-hover);
        border-color: var(--color-clr-button-hover);
    }
    &:active{
        background: var(--color-clr-button-active);
        border-color: var(--color-clr-active);
    }
    &:disabled{
        background: var(--color-clr-button-disable);
        border-color: transparent;
        color: var(--color-clr-text-disable);
        cursor: default;
        
        &:where(.dark, .dark *){
            background: var(--color-clr-button-disable-dark);
            border-color: var(--color-clr-button-disable-dark);
            color: var(--color-clr-text-disable-dark);
        }
    }
}

.button.secondary {
    border-color: var(--color-clr-button);
    background: var(--color-clr-button-secondary);
    color: var(--color-clr-button);
    
    &:hover{
        border-color: var(--color-clr-button-hover);
        color: var(--color-clr-button-hover)
    }
    &:active{
        border-color: var(--color-clr-active);
        color: var(--color-clr-active)
    }
    &:disabled{
        border-color: var(--color-clr-button-disable);
        color: var(--color-clr-text-disable);
        cursor: default;

        &:where(.dark, .dark *){
            border-color: var(--color-clr-button-disable-dark);
            color: var(--color-clr-button-disable-dark);
        }
    }
}


.button.ghost {
    border-color: transparent;
    background: var(--color-clr-button-ghost);
    color: var(--color-clr-button);
    
    &:where(.dark, .dark *){
        background: var(--color-clr-button-ghost-dark);
    }
    
    &:hover{
        border-color: transparent;
        color: var(--color-clr-button-hover)
    }
    &:active{
        border-color: transparent;
        color: var(--color-clr-active)
    }
    &:disabled{
        border-color: transparent;
        color: var(--color-clr-text-disable);
        cursor: default;

        &:where(.dark, .dark *){
            border-color: var(--color-clr-button-disable-dark);
            color: var(--color-clr-button-disable-dark);
        }
    }
}

.button.tertial {
    border-color: transparent;
    background: var(--color-clr-button-tertial);
    color: var(--color-clr-button);
    
    &:hover{
        border-color: transparent;
        color: var(--color-clr-button-hover)
    }
    &:active{
        border-color: transparent;
        color: var(--color-clr-active)
    }
    &:disabled{
        border-color: transparent;
        color: var(--color-clr-text-disable);
        cursor: default;

        &:where(.dark, .dark *){
            border-color: transparent;
            color: var(--color-clr-button-disable-dark);
        }
    }
}

/* input ============================ */
/* ================================ */
.label-input {
    position: relative;

    width: clamp(290px, 20vw, 1rem);
    height: var(--input-height-lg);
    margin-top: var(--spacing-main);
    border-radius: var(--radius-xs);
    transition: var(--transition);
    border-width: var(--border-input) !important;
    border-style: solid !important;
    border-color: var(--color-clr-border-input);
    
    color: var(--color-clr-text);
    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark);
    }
    
    &:has(.input-text:focus){
        border-color: var(--color-clr-border-focus)
    }
    &:has(.input-text:active){
        border-color: var(--color-clr-border-active)
    }
    &:has(.input-text:valid){
        border-color: var(--color-clr-border-input-valid)
    }
    &:has(.input-text:disabled){
        background: var(--color-clr-input-disable);
        &:has(.input-text:active){
            border-color: var(--color-clr-border-input);
        }
        &:where(.dark, .dark *){
            background: var(--color-clr-bg-disable-dark);
        }
    }
    
    @media (width >= 20rem /* sm */) {
        border-radius: var(--radius-sm);
        height: var(--input-height-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        border-radius: var(--radius-sm);
        height: var(--input-height-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        height: var(--input-height-lg);
    }
}

.label-input.file{
    border-style: dashed !important;
}

.label-input .input-text{
    height: 100%;
    width: 100%;
    border: transparent;
    outline: none;
    border-radius: var(--radius-xs);
    padding-inline: var(--spacing-sm);
    color: var(--color-clr-text);

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark)
    }

    @media (width >= 20rem /* sm */) {
        border-radius: var(--radius-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        border-radius: var(--radius-sm);
    }
}

.label-input .label-1{
    position: absolute;
    top: -50%;
    left: 0;
    transform: translate(0%, -50%);

    color: var(--color-clr-text);

    &:where(.dark, .dark *){
        color: var(--color-clr-text-dark);
    }
}
.input-text:focus ~ .label-1,
.input-text:valid ~ .label-1 {
    color: transparent;
}

.label-input .label-2{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    color: color-mix(in oklab, var(--color-clr-text) 40%, transparent );
    transition: var(--transition);
    padding: var(--spacing-sm);
    cursor: text;
    display: flex;
}
.input-text:focus ~ .label-2,
.input-text:valid ~ .label-2 {
    top: -5%;
    left: 2%;
    height: fit-content;
    content: '';
}

/* ==================== */
/* label after ============= */


.label-input .label-2::after{
    position: absolute;
    content: '';
    height: 80%;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    color: color-mix(in oklab, var(--color-clr-text) 40%, transparent);
    transition: var(--transition);
    padding: var(--spacing-sm);
    cursor: text;
    display: flex;
    align-items: center;
}
html.dark .label-input .label-2::after {
    color: var(--color-clr-text-secondary);
}

/* colors label on stat*/
.input-text:focus ~ .label-2::after,
.input-text:valid ~ .label-2::after{
    content: '';
    background: var(--color-clr-bg-page);
}
html.dark .input-text:focus ~ .label-2::after,
html.dark .input-text:valid ~ .label-2::after {
    background: var(--color-clr-bg-page-dark);
}

.input-text:focus ~ .label-2::after,
html.dark .input-text:focus ~ .label-2::after {
    color: var(--color-clr-primary);
}
.input-text:user-valid ~ .label-2::after,
html.dark .input-text:user-valid ~ .label-2::after {
    color: var(--color-clr-success);
}
.input-text:user-invalid ~ .label-2::after,
html.dark .input-text:user-invalid ~ .label-2::after
{
    color: var(--color-clr-error);
}

/* ====================== */
/* text label =============== */

/* name ======= */
.label-2.name::after{
    content: 'ex. Massamba' !important;
}
.input-text:focus ~ .label-2.name::after,
.input-text:valid ~ .label-2.name::after {
    content: 'Nom' !important;
}

/* first name ==== */
.label-2.firstName::after{
    content: 'ex. Nathan' !important;
}
.input-text:focus ~ .label-2.firstName::after,
.input-text:valid ~ .label-2.firstName::after {
    content: 'Post nom' !important;
}

/* password ===== */
.label-2.password::after{
    content: '* * * * * * * *' !important;
}
.input-text:focus ~ .label-2.password::after,
.input-text:valid ~ .label-2.password::after {
    content: 'Mot de passe' !important;
}
/* mail ===== */
.label-2.mail::after{
    content: 'contact@exemple.com' !important;
}
.input-text:focus ~ .label-2.mail::after,
.input-text:valid ~ .label-2.mail::after {
    content: 'Mail' !important;
}

/* telephone ===== */
.label-2.telephone::after{
    content: '000 000 000' !important;
}
.input-text:focus ~ .label-2.telephone::after,
.input-text:valid ~ .label-2.telephone::after {
    content: 'téléphone' !important;
}

/* file ===== */
.label-2.file::after{
    content: 'Choisir un fichier' !important;
}
.input-text:focus ~ .label-2.file::after,
.input-text:valid ~ .label-2.file::after {
    content: 'fichier.pdf' !important;
}



/* cards ============================ */
/* ================================ */
.card {
    border: var(--border-width) solid var(--color-clr-border);
    border-radius: var(--radius-xs);
    padding: var(--spacing-main);
    background: var(--color-clr-bg-card);
    box-shadow: 0 2px 16px color-mix(in oklab, var(--color-clr-border) 60%, transparent);
    transition: var(--transition);
    
    &:where(.dark, .dark *){
        background: var(--color-clr-bg-card-dark);
        border-color: var(--color-clr-border-dark);
        box-shadow: 0 2px 8px transparent;
    }
    &:hover{
        border-color: var(--color-clr-border-focus);
    }


    @media (width >= 20rem /* sm */) {
        border-radius: var(--radius-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        border-radius: var(--radius-md);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        border-radius: var(--radius-lg);
    }
}

.card.transparent {
    background: transparent;
    /* border-color: transparent; */
    box-shadow: none;
}

.card-icon {
    height: 36px;
    width: 36;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    /* border: var(--border-width) solid transparent; */
    border: none;
    border-radius: var(--radius-xs);
    background: color-mix(in oklab, var(--color-clr-primary) 10%, transparent);
    color: var(--color-clr-hover);
    cursor: pointer;
    
    &:where(.dark, .dark *){
        border-color: var(--color-clr-border-dark);
    }
    &:disabled{
        cursor: default;
    }

    @media (width >= 20rem /* sm */) {
        height: 40px;
        width: 40px;
        border-radius: var(--radius-sm);
    }
    @media (width >= 40rem /* 640px  md*/) {
        height: 44px;
        width: 44px;
        border-radius: var(--radius-sm);
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        height: 48px;
        width: 48px;
        border-radius: var(--radius-md);
    }
}

.card-avatar {
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border: var(--border-width) solid var(--color-clr-border);
    border-radius: var(--radius-full);
    cursor: pointer;
    
    &:where(.dark, .dark *){
        border-color: var(--color-clr-border-dark);
    }
    &:disabled{
        cursor: default;
    }

    @media (width >= 20rem /* sm */) {
        height: 40px;
        width: 40px;
    }
    @media (width >= 40rem /* 640px  md*/) {
        height: 44px;
        width: 44px;
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        height: 48px;
        width: 48px;
    }
}
.card-avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius-full);
}

.card-avatar.avatar-xs {
    height: 20px;
    width: 20px;

    @media (width >= 20rem /* sm */) {
        height: 24px;
        width: 24px;
    }
    @media (width >= 40rem /* 640px  md*/) {
        height: 32px;
        width: 32px;
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        height: 40px;
        width: 40px;
    }
}
.card-avatar.avatar-md {
    height: 48px;
    width: 48px;

    @media (width >= 20rem /* sm */) {
        height: 64px;
        width: 64px;
    }
    @media (width >= 40rem /* 640px  md*/) {
        height: 80px;
        width: 80px;
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        height: 96px;
        width: 96px;
    }
}
.card-avatar.avatar-lg {
    height: 128px;
    width: 128px;
    border-radius: var(--radius-full);

    @media (width >= 20rem /* sm */) {
        height: 160px;
        width: 160px;
    }
    @media (width >= 40rem /* sm */) {
        height: 160px;
        width: 160px;
    }
    @media (width >= 48rem /* 640px  md*/) {
        height: 176px;
        width: 176px;
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        height: 208px;
        width: 208px;
    }
}
.card-avatar.avatar-xl {
    height: 208px;
    width: 208px;
    border-radius: var(--radius-md);

    @media (width >= 20rem /* sm */) {
        height: 240px;
        width: 240px;
    }
    @media (width >= 40rem /* 640px  md*/) {
        height: 272px;
        width: 272px;
    }
    @media (width >= 48rem /* 640px  md*/) {
        height: 304px;
        width: 304px;
    }
    @media (width >= 64rem /* 1024px lg+ */) {
        height: 336px;
        width: 336px;
    }
}

/* ================================================= */
/* Lucide icon ========================================= */
.lucide {
    width: 20px;
    height: 20px;
    stroke-width: 1.1;
}

.lucide * {
    vector-effect: non-scaling-stroke;
}


/* ================================================= */
/* separator ========================================= */
.border-line-full {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-clr-border);
    border-color: var(--color-clr-border);

    &:where(.dark, .dark *){
        border-color: var(--color-clr-border-dark);
    }
}

.border-line-b {
    border-bottom-width: 1px;
    border-style: solid;
    border-color: var(--color-clr-border);

    &:where(.dark, .dark *){
        border-color: var(--color-clr-border-dark)
    }
}

.border-line-color {
    border-color: var(--color-clr-border);

    &:where(.dark, .dark *){
        border-color: var(--color-clr-border-dark)
    }
}

/* ======================================================= */
/* animations ================================================ */
/* entrée ==================*/
.text-focus-in {
	-webkit-animation: text-focus-in .7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in .7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.rebond{
    animation: rebond 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes rebond {
    from{
        transform: translateY(-100%);
    }to {
        transform: translateY(0);
    }
}

.fade-delay{
    animation: fadeDelay 1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes fadeDelay{
    0% {
        /* visibility: hidden; */
        opacity: 0;
    }
    100% {
        /* visibility: visible; */
        opacity: 1;
    }
}

/* loading animation */
.skeletonBg {
    background: linear-gradient(
        90deg,
        var(--color-gray-300) 25%,
        var(--color-gray-200) 50%,
        var(--color-gray-300) 75%
    );

    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

/* Dark mode */
.dark .skeletonBg {
    background: linear-gradient(
        90deg,
        var(--color-gray-700) 25%,
        var(--color-gray-600) 50%,
        var(--color-gray-700) 75%
    );
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

/* transition */
.cubicTransition{
    transition:  .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

 


/* ===================================== */
/* prime ng component ====================== */
/* ===================================== */

.p-button {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: var(--color-clr-button-text) !important;
    background: var(--color-clr-primary) !important;
    border: 1px solid transparent !important;
    padding: var(--p-button-padding-y) var(--p-button-padding-x);
    font-size: 1rem;
    font-family: inherit;
    font-feature-settings: inherit;
    transition: background var(--p-button-transition-duration),color var(--p-button-transition-duration),border-color var(--p-button-transition-duration),outline-color var(--p-button-transition-duration),box-shadow var(--p-button-transition-duration);
    border-radius: var(--p-button-border-radius);
    outline-color: transparent;
    gap: var(--p-button-gap);

    &:hover {
        background: var(--color-clr-button-hover) !important;
    }
    &:where(.dark, .dark *) {
        color: var(--color-clr-text) !important;
    }
    &:active {
        background: var(--color-clr-button-active) !important;
    }
}

.p-drawer {
    background-color: var(--color-clr-bg-page) !important;
    color: var(--color-clr-text) !important;
    border-color: var(--color-clr-border) !important;
    
    &:where(.dark, .dark *) {
        background-color: var(--color-clr-bg-section-dark) !important;
        color: var(--color-clr-text-dark) !important;
        border-color: var(--color-clr-border-dark) !important;
    }
}

/* oraginization chart ======= */
/* ==================== */

/* button =============== */
.p-organizationchart-node-toggle-button {
    position: absolute;
    inset-block-end: calc(-1 * calc(var(--p-organizationchart-node-toggle-button-size) / 2));
    margin-inline-start: calc(-1 * calc(var(--p-organizationchart-node-toggle-button-size) / 2));
    z-index: 2;
    inset-inline-start: 50%;
    user-select: none;
    cursor: pointer;
    width: var(--p-organizationchart-node-toggle-button-size);
    height: var(--p-organizationchart-node-toggle-button-size);
    text-decoration: none;
    background: var(--color-clr-primary) !important;
    color: var(--p-organizationchart-node-toggle-button-color);
    border-radius: var(--p-organizationchart-node-toggle-button-border-radius);
    border: 1px solid var(--color-clr-border) !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline-color: transparent;
    transition: background var(--p-organizationchart-transition-duration),color var(--p-organizationchart-transition-duration),border-color var(--p-organizationchart-transition-duration),outline-color var(--p-organizationchart-transition-duration),box-shadow var(--p-organizationchart-transition-duration);

    &:where(.dark, .dark *){
        border: 1px solid var(--color-clr-border-dark) !important;
    }
}

/* connector =============*/

/* line top left start */
.p-organizationchart-connectors :nth-child(1 of .p-organizationchart-connector-right) {
    border-start-start-radius: var(--p-organizationchart-connector-border-radius);
    border-inline-start: 1px solid var(--color-clr-border) !important;
    
    &:where(.dark, .dark *){
        border-inline-start: 1px solid var(--color-clr-border-dark) !important;
    }
}
.p-organizationchart-connectors :nth-last-child(1 of .p-organizationchart-connector-left) {
    border-start-end-radius: var(--p-organizationchart-connector-border-radius);
    border-inline-end: 1px solid var(--color-clr-border) !important;

    &:where(.dark, .dark *){
        border-inline-end: 1px solid var(--color-clr-border-dark) !important;
    }
}
.p-organizationchart-connector-top {
    border-block-start: 1px solid var(--color-clr-border) !important;
    
    &:where(.dark, .dark *){
        border-block-start: 1px solid var(--color-clr-border-dark) !important;
    }
}

/* down */
.p-organizationchart-connector-down {
    margin: 0 auto;
    height: var(--p-organizationchart-connector-height);
    width: 1px;
    background: var(--color-clr-border) !important;
    
    &:where(.dark, .dark *){
        background: var(--color-clr-border-dark) !important;

    }
}